{% for directory in directories %}
    <div class="col-md-2">
        {% set params = app.request.query.all|merge({'dir' : directory.id}) %}
        <a href="{{ url('filemanager_index', params) }}">
            <div class="fileicon dir">
                                        <span class="row text-success text-document">
                                            {{ directory.fullName }}
                                        </span>
            </div>
        </a>
        <div class="actions">
            {% include '@Filemanager/folders/folders_action.html.twig' with {'directory' : directory} %}
        </div>
    </div>
{% endfor %}
{% for file in files %}
    {% set type = fileType(file) %}
    <div class="col-md-2">
        <a {% if type == 'image' %}class="modal_preview" data-toggle="modal" data-target="#modal_preview" data-href="{{ url_file(file) }}" {% else %}target="_blank" href="{{ url_file(file) }}"{% endif %}>
            <div class="fileicon{% if type != 'image' %} {{ type }}{% endif %}"{% if type == 'image' %} style="background: url('{{ url_file(file)|imagine_filter('image_preview') }}') no-repeat top center ;"{% endif %}>
                <span class="row text-success text-document">{{ file.name }}</span>
            </div>
        </a>
        <div class="actions">
            <a href=""><i class="glyphicon glyphicon-edit"></i></a>
            {#<a class="delete_element" href="#" data-href="{{ url('filemanager_actions', {'action' : 'delete', 'target' : directory.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>#}
        </div>
    </div>
{% endfor %}