<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tdody>
        {% for directory in directories %}
            <tr>
                <td>
                    {% set params = app.request.query.all|merge({'dir' : directory.id}) %}
                    <a href="{{ url('filemanager_index', params) }}">
                        <span class="fileicon dir"></span>
                    </a>
                </td>
                <td>
                    {{ directory.fullName }}
                </td>
                <td></td>
                <td></td>
                <td>
                    {% include '@Filemanager/folders/folders_action.html.twig' with {'directory' : directory} %}
                </td>
            </tr>
        {% endfor %}
        {% for file in files %}
            {% set type = fileType(file) %}
            <tr>
                <td>
                    <a {% if type == 'image' %}class="modal_preview" data-toggle="modal" data-target="#modal_preview" data-href="{{ url_file(file) }}" {% else %}target="_blank" href="{{ url_file(file) }}"{% endif %}>
                        <div class="fileicon{% if type != 'image' %} {{ type }}{% endif %}"{% if type == 'image' %} style="background: url('{{ url_file(file)|imagine_filter('image_preview') }}') no-repeat top center ;"{% endif %}></div>
                    </a>
                </td>
                <td>
                    <span class="row text-success text-document">{{ file.name }}</span>
                </td>
                <td>{{ macros.bytesToSize(file.size) }}</td>
                <td>{{ type|upper }}</td>
                <td>
                    <a href=""><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="delete_element" href="#"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tdody>
</table>